body {
	// background-image: url('../images/green-lower-right.jpg');
	background-color: rgb(59, 59, 59);
	background-size: cover;
	background-position: center;
	background-repeat: norepeat;
	height: 100%;
	background-attachment: fixed;
}

.app {
	height: 100%;
	overflow: auto;
}
