.homepage {
	overflow-x: hidden;
	.content {
		display: flex;
		.hero {
			background-image: url('../images/fruit-middle.jpg');
			background-size: cover;
			background-repeat: norepeat;
			background-position: center;
			border-radius: 20px;
			overflow: hidden;
			height: 500px;
			width: 80%;
			margin: 170px auto 20px auto;
		}
		.mainContent {
			background: rgb(44, 89, 18, 0.1);
			padding: 20px;
			.bubble {
				margin-top: 170px auto 170px auto;
				background-color: rgb(255, 255, 255, 0.8);
				font-family: 'Mulish', sans-serif;
				padding: 30px;
			}
		}
	}
}
