.cards {
	border: 2px solid black;
	margin: auto;
	.serviceCard {
		border: 2px solid black;
		padding: 5px;
		position: relative;
		overflow: hidden;
		background-color: black;
		img {
			border: 2px solid black;
			display: block;
			width: 100%;
		}
	}
}
