.mainContent {
	display: flex;
	justify-content: center;
	align-items: center;
	.productInfo {
		background-color: white;
		border-radius: 16px;
		display: flex;
		margin-top: 130px;
		.header {
			display: flex;
			justify-content: center;
			font-size: 32px;
			margin: auto;
		}
		.body {
			display: flex;
			font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
				'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
			align-items: center;
			img {
				max-width: 600px;
				height: auto;
			}
			.salesContent {
				display: flex;
				flex-direction: column;
				gap: 20px;
			}
		}
		.price {
			font-family: 'Times New Roman', Times, serif;
		}
	}
}
