.item {
	margin-top: 100px;
	display: flex;
	align-items: stretch;
	color: white;
	.imageBackdrop {
		padding: 20px;
		display: flex;
		align-items: stretch;
		background-color: rgba(15, 64, 0, 0.3);
		border-radius: 20px;
	}
	.images {
		display: flex;
		align-items: stretch;
		margin: auto;
		height: min-content;
		img {
			margin: auto;
			display: flex;
			width: 100%;
		}
	}
}
